<div class="simple-form">
  <%= simple_form_for(@game) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
