<div class="index-card">
<% if game.photo.attached? %>
<%= cl_image_tag(game.photo.key) %>
    <% else %>
      <p>No image available</p>
    <% end %>
  <div class="index-card-info">
    <h6>Title:</h6>
    <p><%= game.name %></p>
    <h6>Description:</h6>
    <p><%= game.description %></p>
    <h6>Price:</h6>
    <p><%= game.price %></p>
      <%= link_to "More info", game_path(game) %>
  </div>
</div>
