<div class="header">
  <h1>hello</h1>
  <p>Welcome to .games! Step back in time with our nostalgic 90's video game rentals. Immerse yourself in the pixelated wonderland of classic gaming, right from the comfort of your own home.</p>
</div>

<div class="wrapper">
  <div class="sidebar">
    <ul>
      <%= link_to "Edit the game", edit_game_path(@game) %>
      <%= link_to "Back to games", games_path %>
      <%= link_to "Destroy this game", @game, method: :delete %>
      <div style="width: 300px; height: 300px"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </ul>
  </div>
  <div class="content">
    <div class="show-card">
<%= cl_image_tag(@game.photo.key) %>
      <div id="<%= dom_id @game %>">
        <div class="show-card-info">
          <h6>Title:</h6>
          <p><%= @game.name %></p>
          <h6>Description:</h6>
          <p><%= @game.description %></p>
          <h6>Price:</h6>
          <p><%= @game.price %></p>
        </div>
        <%#= cl_image_tag @game.photo.key, height: 300, crop: :fill %>
      </div>
      <div data-controller="toggle" class="my-5">
        <a class="simple-form" data-action="click->toggle#fire">Book a game</a>
        <div data-toggle-target="togglableElement" class="d-none">
          <%= simple_form_for [@game, @booking], html: {
            data: {
              controller: "alert",
              alert_title_value: "Congratulations!! 🎉",
              alert_html_value: "You made a booking for ",
              alert_confirm_button_text_value: "Thank you!",
              alert_show_cancel_button_value: true,
              alert_cancel_button_text_value: "Cancel",
              action: "submit->alert#initSweetalert",
              turbo: false
            }
          } do |f| %>
            <%= f.input :start_date, as: :string, input_html: { data: { controller: 'datepicker', min_date: Date.today.strftime("%Y-%m-%d") }, value: Date.today.strftime("%Y-%m-%d") } %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: 'datepicker', min_date: Date.today.strftime("%Y-%m-%d") }, value: (Date.today + 5.days).strftime("%Y-%m-%d") } %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>


</div>
  </div>
  <%# <div class="footer">Footer</div> %>
</div>
